/*website main design part here*/
*{
    margin:0px;
    padding:0px;
}
/* google font */
body{
    font-family: 'Merriweather', serif;
}
/*Style banner section*/
#header{
    margin:80px 100px;
    background-image:url('../images/Banner\ Image.png');
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
    border-radius:16px;
}
/*style for header inner part*/
.header-inner{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding:150px 0px;
    border-radius:16px;
}
#header .header-inner h3{
    font-size:32px;
    color:#ffffff;
    font-weight:400;
}
#header .header-inner h2{
    color:#ffffff;
    font-size:72px;
    font-weight:900;
    line-height:95px;
}
/*End header inner part*/




/*style welcome section*/
#welcome{
    background-image:url('../images/Vectorrr.png');
    background-repeat:no-repeat;
    margin:50px 100px;
    position:relative;
}
.welcome-inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
   
}
/*style header left part*/
.welcome-inner-left{
    width:60%;
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding:150px 0px;
    padding-left:60px;
}
.welcome-title{
    color:#ffffff;
    font-size:60px;
    font-weight:900;
    line-height:88px;
    letter-spacing:7.04px;
}
.welcome-text{
    color: rgba(255, 255, 255, 0.80);
    font-family:Inter;
    font-size:18px;
    font-weight:400;
    line-height:30px;
}
/*style welcome section right part*/
.welcome-inner-right{
    width:40%;
    position:absolute;
    right:-70px;
    padding:160px 0px;
}
.welcome-inner-right img{
    height:360px;
    margin-top:-20px;
} 
/*style welcome section button*/
.welcome-btn{
    border:none;
    margin-top:20px;
    background:none;
    text-align:center;
    font-family:Inter;
    font-size:20px;
    font-weight:600;
    color:#ffffff;
    margin-left:50px;
}
.welcome-btn:hover{
    color:#F00; 
}
/*Start address section styling*/
#address{
    margin:120px 100px;
    text-align:center;
    margin-bottom:100px;
    background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding-top:100px;

}
.address-inner p{
    font-family:Inter;
    font-size:32px;
    font-weight:600;
    line-height:56px;
    text-transform:capitalize;
    color:#070211;
}
.text-red{
    color:#F00;
}
/*button style*/
.address-btn{
    padding:16px 32px;
    background:#F00;
    border-radius:8px;
    color:#ffffff;
    font-family:Inter;
    font-size:20px;
    font-weight:700;
    text-transform:uppercase;
    margin-top:50px;
    border:none;
}
/*button hover effect*/
.address-btn:hover{
    background-color:hotpink;
    color:#070211;
}
/*design for offer section*/
#offer-wraper{
    margin:120px 100px;
    margin-top:200px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}
/*style for offer inner part*/
.offer-left h3{
    font-family:Inter;
    font-size:24px;
    color:#F00;
    font-weight:500;
    margin-bottom:20px;
}
.offer-left h2{
    font-size:48px;
    color:#070211;
    font-weight:900;
    margin-bottom:20px;
}
.offer-left p{
    font-family:Inter;
    font-size:20px;
    font-weight:400;
    color:rgba(7, 2, 17, 0.60);
    line-height:32px;
}
/*style middle part*/
.offer-middle{
    border:10px solid red;
    border-radius:50%;
    margin-top:-100px;
}
.offer-middle img{
    padding:20px;
}
/*style for right part*/
.offer-right h2{
    font-family:Inter;
    font-size:48px;
    font-weight:700;
    color:#F00;
    margin-bottom:20px;
}
.offer-right p{
    font-family:Inter;
    font-size:20px;
    font-weight:400;
    color:rgba(7, 2, 17, 0.60);
    line-height:32px;
    margin-bottom:20px;
}
.offer-right img{
    width:140px;
    height:140px;
}
/* end style offer-right part*/

/*design for holyday section*/
#holyday-wrapper{
    margin:100px 0px;
}
.holyday-text-part{
    text-align:center;
    margin:50px 200px;
}
.holyday-text-part h3{
    font-family:Inter;
    font-size:24px;
    font-weight:500;
    color:#070211;
    margin:20px 0px;
}
.holyday-text-part h2{
    font-size:72px;
    font-weight:900;
    color:#070211;
    margin-bottom:20px;
}
.holyday-text-part p{
    font-size:20px;
    font-weight:500;
    line-height:32px;
    color:rgba(7, 2, 17, 0.60);
    margin-bottom:30px;
}
/*End holyday text part design*/

/*design for holyday images wraper section*/
#img-wraper{
    margin:50px 100px;
    overflow:hidden;
    position:relative;
    padding-top:450px;
}
.fist-img{
    position:absolute;
    bottom:50px;
    left:50px;
}
.fist-img img{
    width:500px;
    height:550px;
}
/* using z-index for image*/
.second-img{
    position:absolute;
    right:270px;
    bottom:250px;
    z-index:15;
}
.third-img{
    position:absolute;
    right:0;
    bottom:228px;
    z-index:5;
}
.fourth-img{
    z-index:10;
}
/* style for image gallry*/
#image-gallry{
    margin:50px 100px;
}
.text-area{
    margin-bottom:30px;
    margin-top:20px;
}
.text-area h3{
    font-family:Inter;
    font-size:24px;
    font-weight:500;
    color:#F00;
    margin-bottom:10px;
}
.text-area h2{
    font-size:48px;
    color:#070211;
    font-weight:900;
    margin-bottom:10px;
}
.text-area p{
    font-family:Inter;
    font-size:20px;
    color:rgba(7, 2, 17, 0.60);
    font-weight:400;
    line-height:32px;
}
/*design text area*/

/*design for image box area*/
.image-area{
   display:flex;
   justify-content:space-between;
   flex-wrap:wrap;
   gap:20px;
}
.image-area img{
    width:350px;
    height:400px;
}
/*End image box area*/
/*design for subcribe section*/
#subcribe{
    margin:50px 100px;
    background:rgba(255, 0, 0, 0.05);
    text-align:center;
    padding:100px 0px;
}
#subcribe img{
    margin-bottom:30px;
}
#subcribe h2{
    font-size:48px;
    font-weight:900;
    color:#070211;
    margin-bottom:20px;
}
#subcribe p{
    font-size:20px;
    font-weight:400;
    line-height:32px;
    color: rgba(7, 2, 17, 0.60);
    margin-bottom:20px;
}
/*design subcribe button*/
#subcribe .sub-input{
    background:#ffffff;
    border:none;
    padding:15px;
    border-radius:10px;
    width:200px;
}
#subcribe .sub-btn{
    padding:15px 10px;
    border:none;
    background:#F00;
    color:#ffffff;
    width:100px;
    border-radius:0px 50px 50px 0px;
    cursor:pointer;
}
/*End design message section*/